<br>
<div class="card">
    <div class="card-header">
        Lista Alumno IRIC
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filtrar por:</div>
            <div class="col-md-4">
                <input class="form-control" name="filter" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtro: </h3>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="alumnosIric.length">
                <thead>
                    <tr>
                        <th>Matricula</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Correo</th>
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let alumno of alumnosIric">
                        <th>{{alumno.matricula}}</th>
                        <th>{{alumno.nombre}}</th>
                        <th>{{alumno.edad}}</th>
                        <th>{{alumno.correo}}</th>
                        <th>{{alumno.foto}}</th>
                    </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>